@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Ubuntu:wght@400;700&display=swap');

$primary-color: #0091ff;
$bg-color: #1c1c1c;
$white: azure;

$font-header: 'Press Start 2P', cursive;